/* this is to add my background picture into the website */
body {
  height: 100%;
  }
  background-image: url("https://oreganomaclean.github.io/website/background.png");
height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
/* changing the font from anything from times new roman */
{
  font-family: Arial, Helvetica, sans-serif;
}
/* table I did not want on the left hand side */
table {
  float:right;
  }
/* for my navbar formatting i like how it turned out */
ul.a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightseagreen;
}
/* when i put none into the type it messed up another format so i changed it to square and now it has no bullets im not sure what happened but it is how i want it so */
ul.b {
  list-style-type: square;
}
/* this makes my unordered list stay to the left */
ul {
  float: left;
}

li a {
  display: block;
  color: lightseagreen;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
} 
img {
  float: right;
}
/* this helps change my link colors when in use and hovering */
a:link {
  color: lightseagreen;
}

a:visited {
  color: lightslategrey;
}

a:hover {
  color: lightslategrey;
}

a:active {
  color: yellow;
} 
p {
  .column {
  float: left;
  width: 33.33%;
}
