body {
  height: 100%;
  }
  background-image: url("https://oreganomaclean.github.io/website/background.png");
height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
}
ul.a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: seashell;
}

ul.b {
  list-style-type: square;
}

ul {
  float: left;
}

li a {
  display: block;
  color: seashell;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
img {
  float: right;
}
